@import './base/base';
@import './base/settings';
//COLORS
$light-blue: #d8f0ea;
$bright-blue: #add9eb;
$very-light-grey: #f7f7f7;
$medium-grey: #a9a9a9;
$dark-grey: #4e4e4d;
$bright-red: #ff3b3f;
$bright-red-dark: #b9383b;
$yellow: #7fc4c5;
$peach: #3c70ad;
$light-red: #1e88e5;
//FONT SIZE
$font-size-small: 1rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.8rem;
//FONT WEIGHT
$s-weight: 300;
$m-weight: 500;
$l-weight: 700;
//SPACING
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
button {
  cursor: pointer;
}

.task-status {
  cursor: pointer;
}

.header-info p {
  cursor: pointer;
}

.button_clear--small {
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  display: inline-block;
  text-decoration: none;
  background-color: darken($very-light-grey, 20%);
  &:hover {
    background-color: $medium-grey;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    background-color: darken($medium-grey, 7%);
  }
}

button {
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) -1px 3px 6px, rgba(0, 0, 0, 0.12) -1px 3px 4px;
  border-radius: 4px;
  border: none;
  color: white;
  display: inline-block;
  font-weight: 300;
  font-size: $m-size;
  line-height: 1;
  text-decoration: none;
  background-color: $peach;
  &:hover {
    background-color: darken($peach, 3%);
  }
  &:active {
    background-color: darken($peach, 7%);
  }
}

.button {
  margin-top: 3px;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) -1px 3px 6px, rgba(0, 0, 0, 0.12) -1px 3px 4px;
  border-radius: 4px;
  border: none;
  color: white;
  display: inline-block;
  font-weight: 300;
  font-size: $m-size;
  line-height: 1;
  height: 33px;
  text-decoration: none;
  background-color: $peach;
  &:hover {
    background-color: darken($peach, 3%);
  }
  &:active {
    background-color: darken($peach, 7%);
  }
}

input {
  border: 1px solid darkgray;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
  outline: none;
}
