.board {
  border: 1px solid black;
  padding: 20px;

  &-title {
    font-size: 20px;
    color: red;
  }

  &-rows {
    display: flex;
  }
}

.row {
  margin-right: 20px;
}

.LoginPage {
  text-align: center;
}

.board-icon {
  justify-content: center;
}

.DashboardPage {
  text-align: center;
  justify-content: center;
}


.Board {
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
.board-rows {
  justify-content: center;
  text-align: center;
}

body {
  font-family: 'Oswald', sans-serif;
}